<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

    
        <article>
            <time>published: 09.25.2023, 11:53</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first official post on my blog</p>
        </article>
        

        <article>
            <time>published: 09.25.2023, 11:45</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post on here</p>
        </article>
    </body>
</html>